amcl:
  ros__parameters:
    use_sim_time: false

bt_navigator:
  ros__parameters:
    use_sim_time: false

controller_server:
  ros__parameters:
    use_sim_time: false
    controller_frequency: 20.0
    min_x_velocity_threshold: 0.05
    min_theta_velocity_threshold: 0.05
    failure_tolerance: 0.3

planner_server:
  ros__parameters:
    use_sim_time: false
    expected_planner_frequency: 5.0

local_costmap:
  local_costmap:
    ros__parameters:
      use_sim_time: false
      global_frame: odom
      robot_base_frame: base_link
      rolling_window: true
      width: 10.0
      height: 10.0
      resolution: 0.10
      robot_radius: 0.40   # ถ้าใช้ footprint ให้เปลี่ยนเป็น footprint
      plugins: ["obstacle_layer", "inflation_layer"]
      inflation_layer:
        inflation_radius: 0.6
      obstacle_layer:
        observation_sources: zed_cloud
        zed_cloud:
          topic: /zed/filtered_cloud
          max_obstacle_height: 2.0
          clearing: true
          marking: true

global_costmap:
  global_costmap:
    ros__parameters:
      use_sim_time: false
      global_frame: map
      robot_base_frame: base_link
      resolution: 0.10
      track_unknown_space: true
      robot_radius: 0.40
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      static_layer:
        map_subscribe_transient_local: true
      obstacle_layer:
        observation_sources: zed_cloud
        zed_cloud:
          topic: /zed/filtered_cloud
          max_obstacle_height: 2.0
          clearing: true
          marking: true
      inflation_layer:
        inflation_radius: 0.8

velocity_smoother:
  ros__parameters:
    use_sim_time: false
    smoothing_frequency: 20.0
    max_velocity: [1.2, 0.0, 1.0]
    max_accel: [0.8, 0.0, 1.0]